<DockingConfiguration>
  <layouts>
    <layout name="Default" width="1204" height="505" size="1204" prefSize="1204" defaultHorSize="-1" defaultVerSize="-1" type="Horizontal">
      <group size="495" prefSize="495" defaultHorSize="144.448423407961" defaultVerSize="100" type="Tabbed" currentTabPage="0">
        <item size="-1" prefSize="-1" defaultHorSize="151.451943242027" defaultVerSize="100" id="Docking.Components.Command" visible="True" status="Dockable" />
        <item size="-1" prefSize="-1" defaultHorSize="100" defaultVerSize="100" id="Docking.Components.ComponentList" visible="True" status="Dockable" />
      </group>
      <group size="150" prefSize="150" defaultHorSize="43.791919602396" defaultVerSize="100" type="Vertical">
        <item size="343" prefSize="343" defaultHorSize="99.5682728389234" defaultVerSize="137.119113573407" id="Docking.Components.ScriptEditor" visible="True" status="Dockable" />
        <item size="158" prefSize="158" defaultHorSize="100" defaultVerSize="62.8808864265928" id="Docking.Components.Messages" visible="True" status="Dockable" />
      </group>
      <item size="551" prefSize="551" defaultHorSize="160.641498041761" defaultVerSize="100" id="Examples.VirtualList.VirtualListTest-1" visible="True" status="Dockable" />
    </layout>
  </layouts>
  <VirtualListTest_Examples.VirtualList.VirtualListTest-1>
    <Persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <m_Data>
        <int>107</int>
        <int>1</int>
        <int>53</int>
        <int>1</int>
        <int>150</int>
        <int>1</int>
      </m_Data>
    </Persistence>
  </VirtualListTest_Examples.VirtualList.VirtualListTest-1>
</DockingConfiguration>